---
title: About On-Demand Brokers
owner: London Services Enablement
---

This topic provides information about on-demand brokers for people who want to
use <%= vars.product_full %> (also known as <%= vars.product_abbr %>) to create on-demand service
tiles for <%= vars.ops_manager %>.

## <a id="cf-broker"></a>Cloud Foundry Service Brokers and <%= vars.ops_manager %> Tiles

Service brokers let developers create service instances in their development spaces
that they can call from their code.

### Cloud Foundry Service Brokers

Cloud Foundry Service Brokers provide an interface between the Cloud Controller and the
add-on software service that they represent.
The service broker works by providing an API which the Cloud Controller calls to create service instances,
bind them to apps, and perform other operations.
Cloud Foundry service brokers are implemented as HTTP servers that conform to the
[Open Service Broker API](http://docs.cloudfoundry.org/services/api.html).

In addition to providing an API, a service broker publishes a service catalog
that can include multiple service plans, such as a free tier and a metered tier.
Brokers register their service plans with the Cloud Controller to populate the Marketplace,
which developers access with `cf marketplace` or through Apps Manager.

### <%= vars.ops_manager %> Tiles

Operators find services on [<%= vars.product_network %>](https://network.tanzu.vmware.com/)
and install and configure them through a tile interface in the <%= vars.ops_manager %> **Installation Dashboard**
to make them available to developers.
Installing a service tile creates a service broker, registers it with the Cloud Controller,
and publishes the service plans that the broker offers.
Developers can then create service instances in their spaces and bind them to their apps.

![Installation Dashboard showing the BOSH Director tile and a sample user's service tile.](img/your-service-here.png)

The central element behind a service tile is the service broker, but the tile software
includes other components that make the service easy for operators to install and maintain
and easy for developers to use.
These components include configuration layouts, upgrade rules, lifecycle errands,
and BOSH manifests for deploying the service instances.

## <a id="odb-sdk"></a><%= vars.product_short %> and the On-Demand Broker

The <%= vars.product_short %> provides a generic on-demand broker (<%= vars.product_abbr %>) that answers API
calls from the Cloud Controller.

*Service authors* add service-specific functionality to the <%= vars.product_short %> through an
executable called a **Service Adapter**.
These components combine to create a BOSH deployment.
For more information about BOSH deployments, see [What is a Deployment](https://bosh.io/docs/deployment/) in
the BOSH documentation.

*Tile authors* customize the tile interface used by operators.
The tile consumes the BOSH deployment to generate a BOSH manifest for deploying on-demand instances of the service.
The diagram below illustrates this process.

![Diagram of the service adapter plugging into the on-demand broker to create a BOSH deployment.](img/odb-service-adapter.png)

The <%= vars.product_short %> imposes no constraints on the service authors' ability
to offer new functionality or expose configuration options in their service plans,
such as rate limiting and external load balancers.

### <a id="roles"></a>On-Demand Service Roles

There are several roles involved with creating and managing on-demand service tiles.
These roles can be separate or combined.
This section provides a summary of the responsibilities for each role.

#### <a id="service-author"></a>Service Author

Service authors write and maintain the service adapter.
For more information about service author responsibilities, see
[Service Author Deliverables](./creating.html#what-is-required-of-the-service-authors).

#### <a id="tile-author"></a>Tile Author

Tile authors determine which configuration options to expose to <%= vars.ops_manager %> operators,
create the tile, and publish it on <%= vars.product_network %>.
For more information, see [Creating an On-Demand Service Tile](./tile.html).

#### <a id="operator"></a>Operator

Operators deploy and maintain the broker.
They also manage access control for Cloud Foundry (CF) developers.
This documentation provides information for two types of operator, <%= vars.ops_manager %> operators and BOSH operators.
These roles can be separate or combined.
The following describes each type of operator:

- **<%= vars.ops_manager %> Operator**: Uses the <%= vars.ops_manager %> UI to configure plans and provide service specific configurations.
For more information about configuring a specific service, see the [VMware Documentation](https://docs.vmware.com/)
for the service.
- **BOSH Operator**: Creates and modifies the on-demand service broker manifest to provide service specific configurations.
For more information about operator responsibilities, see [Operator Responsibilities](./operating.html#operator-checklist).

## <a id="service-network"></a>Service Network Requirement

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial vars.path_to_partials + '/services/service-networks-v3', :locals => {
  :platform_name => vars.app_runtime_full} %>

## <a id="on-demand"></a>Default Network and Service Network

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial vars.path_to_partials + '/services/on_demand_architecture', :locals => {
  :product_short => " "} %>

## <a id="adapter"></a>Service Adapters

A service adapter is a binary that is called by the <%= vars.product_abbr %> for service-specific tasks.
The diagram below shows where responsibility lies for each aspect of the <%= vars.product_abbr %> workflow.

![Diagram showing the three areas of responsibility associated with the ODB workflow.
The service author creates the service adapter binary and the service BOSH release.
ODB provides the on-demand broker BOSH release, which includes broker orchestration,
the service broker API, the BOSH client, and broker errands.
The operator manages the on-demand broker manifest which includes BOSH Director details,
service plan definitions, service release information, and adapter release information.](img/responsibility-diagram.png)

The service author can focus on building the BOSH release of their service and provide
a service adapter binary that manages manifest generation, schema generation, binding, and unbinding.
The <%= vars.product_abbr %> manages all interactions with Cloud Foundry and BOSH.

Thanks to BOSH v2, service authors can define resources globally (in **Cloud Config**).
This makes manifests portable across BOSH Cloud Provider Interfaces (CPIs) and
lets them be substantially smaller than old-style manifests.
The <%= vars.product_abbr %> takes advantage of other BOSH v2 features as well, including dynamic IP management,
availability zones (AZ), and links through which deployed BOSH instances can access
IP addresses and other information from other instances.

After an on-demand tile is authored and distributed, the operator installs and configures
it the same way they do with any other VMware products.
In the process, they select which of the tile's available service plans to offer their developers.

## <a id="steps"></a>Get Started Using <%= vars.product_abbr %>

This documentation provides information for operators and developers in the following sections.

### <a id="operator"></a>Operator Guide

This section provides information about how to operate an on-demand broker
for BOSH operators and <%= vars.ops_manager %> operators.

### <a id="service-author"></a>Service and Tile Developer Guide

This section provides information about creating on-demand services and tiles.
