---
title: On-Demand Services SDK
owner: London Services Enablement
---

This guide is for people who want to author service tiles for <%= vars.ops_manager %> using the
<%= vars.product_full %>.

Operators make software services such as databases available to developers by
using the <%= vars.ops_manager %> **Installation Dashboard** to install service tiles.

On-demand services enable you to provision instances flexibly.
The operator does not pre-allocate a block of VMs for the instance pool, and they can specify an
allowable range rather than fixed settings for instance resource levels.
When a developer creates an on-demand service instance, they then provision it at creation time.

The <%= vars.product_short %> provides a generic, on-demand broker (<%= vars.product_abbr %>).
This simplifies broker and tile authoring,
and is the standard approach for both VMware internal services teams and VMware
partner independent software vendors (ISVs) to develop on-demand services for
<%= vars.app_runtime_full %>.
For more information about service brokers and how the on-demand broker works, see
[About On-Demand Brokers](about.html.md.erb).

## <a id='product-snapshot'></a>Product Snapshot

The following table provides version and version-support information about the <%= vars.product_short %>.

<table class=“table”>
  <thead>
  <th>Element</th>
  <th>Details</th>
  <tr></thead>
    <td>Version</td>
    <td>0.46.0</td>
  </tr>
  <tr>
    <td>Compatible <%= vars.ops_manager %> version(s)</td>
    <td>2.5 or later</td>
  </tr>
  <tr>
    <td>Compatible <%= vars.app_runtime_full %> version(s)</td>
    <td>2.5 or later</td>
  </tr>
  <tr>
    <td>IaaS support</td>
    <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
  </tr>
</table>

## <a id='new-features'></a>Key features

The benefits of provisioning service instances with resources on-demand are:

- Operators can scale resource consumption in line with need, without having to plan for
  pre-provisioning.
- App developers get more control over resources and do not have to acquire them through the operator.

The benefits of using <%= vars.product_abbr %> to develop on-demand services are:

- <%= vars.product_abbr %> reduces the amount of code service developers have to write by abstracting
  away functionality common to most single-tenant on-demand service brokers.
- <%= vars.product_abbr %> uses BOSH to deploy service instances, so anything that is BOSH-deployable
  can integrate with Cloud Foundry's services Marketplace.

<%= vars.product_abbr %> uses the following BOSH features:

- Dynamic IP management
- Availability zones
- Globally-defined resources (**Cloud Config**), which enable manifests that are portable across
  BOSH Cloud Provider Interfaces (CPIs), and are substantially smaller than old-style manifests
- Links between deployed BOSH instances consuming information from other instances, such as IP
  addresses

## <a id='prerequisites'></a>Prerequisites for deploying brokers that use <%= vars.product_abbr %>

For information about minimum versions of Cloud Foundry and BOSH, see
[Software Requirements](operating.html.md.erb#software-reqs).