---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id="0-42-6"></a> v0.42.6

**Release Date:** November 10, 2022

### Maintenance Changes

Maintenance change in this release:

* **golang:** Upgraded to v1.19.2

### Compatibility

This release has the following dependency:

<table>
  <tr>
    <th>Dependency</th>
    <th>Version</th>
  </tr>
  <tr>
    <td>golang</td>
    <td>1.19.2</td>
  </tr>
</table>

## <a id="0-42-5"></a> v0.42.5

**Release Date:** August 3, 2022

### Resolved Issue

This release has the following fix:

* **Service instance creation no longer fails when using `authorization_code` grant type:**
When the UAA client is requested and the `authorization_code` grant type is defined,
the `redirect_uri` is also set.
Without this change, creating the service instance fails because UAA fails to
create the OAuth2 client for the service instance.

### Maintenance Changes

Maintenance change in this release:

* **golang:** Upgraded to v1.18.4.

### Known Issues

There are no known issues for this release.

### Compatibility

This release has the following dependency:

<table>
  <tr>
    <th>Dependency</th>
    <th>Version</th>
  </tr>
  <tr>
    <td>golang</td>
    <td>1.18.4</td>
  </tr>
</table>


## <a id="0-42-4"></a> v0.42.4

**Release Date:** February 21, 2022

### Maintenance Changes

Maintenance change in this release:

* **golang:** Upgraded to v1.17.6.

### Known Issues

This release has the following issue:

<%= partial 'odb/ki-authorization-code' %>

### Compatibility

This release has the following dependency:

<table>
  <tr>
    <th>Dependency</th>
    <th>Version</th>
  </tr>
  <tr>
    <td>golang</td>
    <td>1.17.6</td>
  </tr>
</table>

## <a id="0-42-3"></a> v0.42.3

**Release Date:** November 1, 2021

### Maintenance Changes

Maintenance change in this release:

* **golang:** Upgraded to v1.17.2.

### Known Issues

This release has the following issue:

<%= partial 'odb/ki-authorization-code' %>

### Compatibility

This release has the following dependency:

<table>
  <tr>
    <th>Dependency</th>
    <th>Version</th>
  </tr>
  <tr>
    <td>golang</td>
    <td>1.17.2</td>
  </tr>
</table>

## <a id="0-42-2"></a> v0.42.2

**Release Date:** October 1, 2021

### Maintenance Changes

Maintenance change in this release:

* **golang:** Upgraded to v1.17.1.

### Known Issues

This release has the following issue:

<%= partial 'odb/ki-authorization-code' %>

### Compatibility

This release has the following dependency:

<table>
  <tr>
    <th>Dependency</th>
    <th>Version</th>
  </tr>
  <tr>
    <td>golang</td>
    <td>1.17.1</td>
  </tr>
</table>

## <a id="0-42-1"></a> v0.42.1

**Release Date:** July 15, 2021

### Maintenance Changes

Maintenance change in this release:

* **golang:** Upgraded to v1.16.6.

### Known Issues

This release has the following issue:

<%= partial 'odb/ki-authorization-code' %>

### Compatibility

This release has the following dependency:

<table>
  <tr>
    <th>Dependency</th>
    <th>Version</th>
  </tr>
  <tr>
    <td>golang</td>
    <td>1.16.6</td>
  </tr>
</table>

<%# The table above might need changing or deleting %>

## <a id="0-42-0"></a> v0.42.0

**Release Date:** June 3, 2021

### Maintenance Changes

Maintenance change in this release:

* **golang:** Upgraded to v1.16.4.

### Known Issues

This release has the following issue:

<%= partial 'odb/ki-authorization-code' %>

### Compatibility

This release has the following dependency:

<%# The table below might need changing or deleting %>

<table>
  <tr>
    <th>Dependency</th>
    <th>Version</th>
  </tr>
  <tr>
    <td>golang</td>
    <td>1.16.4</td>
  </tr>
</table>

<%# The table above might need changing or deleting %>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the top of this
page.
