---
title: Troubleshooting for Ops Manager Operators
owner: London Services Enablement
---

This topic provides information for operators about troubleshooting on-demand services.

## <a id="guid"></a> How to Retrieve a Service Instance GUID

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services/retrieve-guid' %>

## <a id="errors"></a> Troubleshoot Errors

This section provides information about how to troubleshoot specific errors or error messages.

+ [Failed Installation](#install-fail)
+ [Cannot Create or Delete Service Instances](#cannot-create-delete)
+ [Broker Request Timeouts](#timeouts)
+ [Instance Does Not Exist](#instance-not-exist)
+ [Cannot Bind to or Unbind from Service Instances](#cannot-bind)
+ [Cannot Connect to a Service Instance](#cannot-connect)
+ [Cannot Update a Service Instance](#upgrade-individual-instances)
+ [Upgrade All Service Instances Errand Fails](#upgrade-all-fails)
+ [Missing Logs and Metrics](#missing-logs)
+ [Unable to Render Templates for Job CredHub](#credhub-error)

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-err-install-fail' %>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-err-cannot-create-delete' %>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-err-timeouts' %>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-err-instance-not-exist' %>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-err-other-errors' %>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-err-cannot-connect' %>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial 'tshoot-err-cannot-update' %>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-err-upgrade-all-fails' %>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-err-missing-logs' %>

### <a id="credhub-error"></a>Unable to Render Templates for Job CredHub

If you receive an error similar to the following:

<pre class="terminal">
Task 54 | 19:40:25 | Creating missing vms: credhub/03CCE517-F40D-42C8-B758-606FC042A8D4 (0) (00:00:53)
             L Error: - Unable to render templates for job 'credhub'. Errors are:
    - Failed to fetch variable '/opsmgr/cf-f0052ab642e7684aa41d/credhub_key_encryption_passwords/0/key' with id '703CCE517-F40D-42C8-B758-606FC042A8D4' from config server: Invalid JSON response
</pre>
<br>
This might be due to an issue with BOSH CredHub v1.9.11 and v2.1.5.
<br><br>
To solve this error, use CredHub v1.9.12 or later (included in Ops Manager v2.2.22
or later and v2.3.16 or later) or CredHub v2.1.6 (included in Ops Manager v2.4.10
or later and v2.5.3 or later).

## <a id="components"></a>Troubleshoot Components

This section provides information about troubleshooting on-demand broker components.

### <a id="bosh"></a> BOSH Problems

#### <a id="large-queue"></a> Large BOSH Queue

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-comp-large-queue' %>

### <a id="bosh-config"></a> Configuration

#### <a id="bosh-instance-fail"></a> Service Instances in Failing State

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-comp-bosh-instance-fail' %>

### <a id="auth"></a> Authentication

#### <a id="uaa-change"></a> UAA Changes

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-comp-uaa-change' %>

### <a id="network"></a> Networking

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-comp-network' %>

#### <a id="broker-to-instances"></a> Validate Service Broker Connectivity to Service Instances

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-comp-broker-to-instances' %>

#### <a id="app-to-instances"></a> Validate App Access to Service Instance

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-comp-app-to-instances' %>

### <a id="quotas"></a> Quotas

#### <a id="plan-quotas"></a> Plan Quota Issues

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-comp-plan-quotas' %>

#### <a id="global-quotas"></a> Global Quota Issues

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-comp-global-quotas' %>

### <a id="failing-jobs"></a> Failing Jobs and Unhealthy Instances

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-comp-failing-jobs' %>

## <a id="techniques"></a> Techniques for Troubleshooting

This section provides general techniques for troubleshooting, which might include the following:

*   Interacting with the on-demand service broker
*   Interacting with on-demand service instance BOSH deployments
*   Performing general maintenance and housekeeping tasks


### <a id="parse-error"></a> Parse a Cloud Foundry (CF) Error Message

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-tech-parse-error' %>

### <a id="bosh-cf-access"></a> Access Broker and Instance Logs and VMs

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-tech-bosh-cf-access' %>

#### <a id="access-broker"></a> Access Broker Logs and VM(s)

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-tech-access-broker' %>

#### <a id="access-instance"></a> Access Service Instance Logs and VMs

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-tech-access-instance' %>

### <a id="broker-errands"></a> Run Service Broker Errands to Manage Brokers and Instances

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-tech-broker-errands' %>

#### <a id="register-broker"></a> Register Broker

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-tech-register-broker' %>

#### <a id="deregister-broker"></a> Deregister Broker

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-tech-deregister-broker' %>

#### <a id="upgrade-all"></a> Upgrade All Service Instances

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-tech-upgrade-all' %>

#### <a id="delete-all"></a> Delete All Service Instances

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-tech-delete-all' %>

#### <a id="detect-orphans"></a> Detect Orphaned Instances Service Instances

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-tech-detect-orphans' %>

### <a id="instance-creds"></a> Get Admin Credentials for a Service Instance

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-tech-instance-creds' %>

### <a id="id-instance-owner"></a> Identify Apps using a Service Instance

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-tech-id-instance-owner' %>

### <a id="view-resources"></a> View BOSH Resource Saturation and Scaling

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-tech-view-resources' %>

### <a id="monitor-quota"></a> Monitor Quota Saturation and Service Instance Count

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-tech-monitor-quota' %>

### <a id="reinstall"></a> Reinstall a Tile

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-tech-reinstall' %>

## <a id="kb"></a> Knowledge Base (Community)

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-kb' %>

## <a id="support"></a> File a Support Ticket

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../../svc-sdk/odb/partials/services-tshoot/tshoot-support' %>
