---
title: Troubleshooting for Ops Manager Operators
owner: London Services Enablement
---

This topic provides information for operators about troubleshooting on-demand services.

## <a id="guid"></a> How to Retrieve a Service Instance GUID

<%= partial 'retrieve-guid' %>

## <a id="errors"></a> Troubleshooting Errors

This section provides information about how to troubleshoot specific errors or error messages.

### <a id="install-fail"></a> Failed Install

<%= partial 'tshoot-err-install-fail' %>

### <a id="timeouts"></a> Broker Request Timeouts

<%= partial 'tshoot-err-timeouts' %>

### <a id="cannot-create-delete"></a>Cannot Create or Delete Service Instances

<%= partial 'tshoot-err-cannot-create-delete' %>

### <a id="cannot-bind"></a>Cannot Bind or Unbind Service Instances to Apps

#### <a id="instance-not-exist"></a> Instance Does Not Exist

<%= partial 'tshoot-err-instance-not-exist' %>

#### <a id="other-errors"></a> Other Errors

<%= partial 'tshoot-err-other-errors' %>

<a id="cannot-connect"><h3></a>Cannot Connect to a Service Instance</h3>

<%= partial 'tshoot-err-cannot-connect' %>

### <a id="upgrade-all-fails"></a>Upgrade All Service Instances Fails

<%= partial 'tshoot-err-upgrade-all-fails' %>

### <a id="missing-logs"></a> Missing Logs and Metrics

<%= partial 'tshoot-err-missing-logs' %>


<a id="components"></a><h2>Troubleshooting Components</h2>

This section provides information about troubleshooting on-demand broker components.

### <a id="bosh"></a> BOSH Problems

<a id="no-bosh-uuid"></a><h4>Missing BOSH Director UUID</h4>

<%= partial 'tshoot-comp-no-bosh-uuid' %>

<a id="large-queue"></a><h4>Large BOSH Queue</h4>

<%= partial 'tshoot-comp-large-queue' %>

### <a id="bosh-config"></a> Configuration

#### <a id="bosh-instance-fail"></a> Service Instances in Failing State

<%= partial 'tshoot-comp-bosh-instance-fail' %>

### <a id="auth"></a> Authentication

#### <a id="uaa-change"></a> UAA Changes

<%= partial 'tshoot-comp-uaa-change' %>

### <a id="network"></a> Networking

<%= partial 'tshoot-comp-network' %>

#### <a id="broker-to-instances"></a> Validate Service Broker Connectivity to Service Instances

<%= partial 'tshoot-comp-broker-to-instances' %>

#### <a id="app-to-instances"></a> Validate App Access to Service Instance

<%= partial 'tshoot-comp-app-to-instances' %>

### <a id="quotas"></a> Quotas

#### <a id="plan-quotas"></a> Plan Quota Issues

<%= partial 'tshoot-comp-plan-quotas' %>

#### <a id="global-quotas"></a> Global Quota Issues

<%= partial 'tshoot-comp-global-quotas' %>

### <a id="failing-jobs"></a> Failing Jobs and Unhealthy Instances

<%= partial 'tshoot-comp-failing-jobs' %>

## <a id="techniques"></a> Techniques for Troubleshooting

This section provides general techniques for troubleshooting, which might include the following:

*   Interacting with the on-demand service broker
*   Interacting with on-demand service instance BOSH deployments
*   Performing general maintenance and housekeeping tasks


### <a id="parse-error"></a> Parse a Cloud Foundry (CF) Error Message

<%= partial 'tshoot-tech-parse-error' %>

### <a id="bosh-cf-access"></a> Access Broker and Instance Logs and VMs

<%= partial 'tshoot-tech-bosh-cf-access' %>

#### <a id="access-broker"></a> Access Broker Logs and VM(s)

<%= partial 'tshoot-tech-access-broker' %>

#### <a id="access-instance"></a> Access Service Instance Logs and VMs

<%= partial 'tshoot-tech-access-instance' %>

### <a id="broker-errands"></a> Run Service Broker Errands to Manage Brokers and Instances

<%= partial 'tshoot-tech-broker-errands' %>

#### <a id="register-broker"></a> Register Broker

<%= partial 'tshoot-tech-register-broker' %>

#### <a id="deregister-broker"></a> Deregister Broker

<%= partial 'tshoot-tech-deregister-broker' %>

#### <a id="upgrade-all"></a> Upgrade All Service Instances

<%= partial 'tshoot-tech-upgrade-all' %>

#### <a id="delete-all"></a> Delete All Service Instances

<%= partial 'tshoot-tech-delete-all' %>

#### <a id="detect-orphans"></a> Detect Orphaned Instances Service Instances

<%= partial 'tshoot-tech-detect-orphans' %>

<a id="instance-deployment"></a><h3>Select the BOSH Deployment for a Service Instance</h3>

<%= partial 'tshoot-tech-instance-deployment' %>

### <a id="instance-creds"></a> Get Admin Credentials for a Service Instance

<%= partial 'tshoot-tech-instance-creds' %>

### <a id="id-instance-owner"></a> Identify Apps using a Service Instance

<%= partial 'tshoot-tech-id-instance-owner' %>

### <a id="view-resources"></a> View BOSH Resource Saturation and Scaling

<%= partial 'tshoot-tech-view-resources' %>

### <a id="monitor-quota"></a> Monitor Quota Saturation and Service Instance Count

<%= partial 'tshoot-tech-monitor-quota' %>

### <a id="reinstall"></a> Reinstall a Tile

<%= partial 'tshoot-tech-reinstall' %>

## <a id="kb"></a> Knowledge Base (Community)

<%= partial 'tshoot-kb' %>

## <a id="support"></a> File a Support Ticket

<%= partial '/tshoot-support' %>
