---
title: Troubleshooting Components
owner: London Services Enablement
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
    }
</style>

Guidance on checking for and fixing issues in the ODB components.

## <a id="bosh"></a>BOSH problems

### <a id="no-bosh-uuid"></a>Missing BOSH Director UUID

<%= partial 'tshoot-comp-no-bosh-uuid' %>

### <a id="large-queue"></a>Large BOSH Queue

<%= partial 'tshoot-comp-large-queue' %>

## <a id="bosh-config"></a>Configuration

### <a id="bosh-instance-fail"></a>Service instances in failing state

<%= partial 'tshoot-comp-bosh-instance-fail' %>

## <a id="auth"></a>Authentication

### <a id="uaa-change"></a>UAA Changes

<%= partial 'tshoot-comp-uaa-change' %>

## <a id="network"></a>Networking

<%= partial 'tshoot-comp-network' %>

### <a id="broker-to-instances"></a>Validate Service Broker Connectivity to Service Instances

<%= partial 'tshoot-comp-broker-to-instances' %>

### <a id="app-to-instances"></a>Validate App Access to Service Instance

<%= partial 'tshoot-comp-app-to-instances' %>

## <a id="quotas"></a>Quotas

### <a id="plan-quotas"></a>Plan Quota issues

<%= partial 'tshoot-comp-plan-quotas' %>

### <a id="global-quotas"></a>Global Quota Issues

<%= partial 'tshoot-comp-global-quotas' %>

### <a id="failing-jobs"></a>Failing jobs and unhealthy instances

<%= partial 'tshoot-comp-failing-jobs' %>

## <a id="support"></a>File a Support Ticket

<%= partial 'tshoot-support' %>

## <a id="kb"></a>Knowledge Base (Community)

<%= partial 'tshoot-kb' %>
