---
title: Techniques for Troubleshooting
owner: London Services Enablement
---

Instructions on interacting with the on-demand service broker and on-demand service 
instance BOSH deployments, and on performing general maintenance and housekeeping tasks

## <a id="parse-error"></a>Parse a Cloud Foundry (CF) Error Message

<%= partial 'tshoot-tech-parse-error' %>

## <a id="bosh-cf-access"></a>Access Broker and Instance Logs and VMs

<%= partial 'tshoot-tech-bosh-cf-access' %>

### <a id="access-broker"></a>Access Broker Logs and VM(s)

<%= partial 'tshoot-tech-access-broker' %>

### <a id="access-instance"></a>Access Service Instance Logs and VMs

<%= partial 'tshoot-tech-access-instance' %>

## <a id="broker-errands"></a>Run Service Broker Errands to Manage Brokers and Instances

<%= partial 'tshoot-tech-broker-errands' %>

### <a id="register-broker"></a>Register Broker

<%= partial 'tshoot-tech-register-broker' %>

### <a id="deregister-broker"></a>Deregister Broker

<%= partial 'tshoot-tech-deregister-broker' %>

### <a id="upgrade-all"></a>Upgrade All Service Instances

<%= partial 'tshoot-tech-upgrade-all' %>

### <a id="delete-all"></a>Delete All Service Instances

<%= partial 'tshoot-tech-delete-all' %>

<H2><a id="detect-orphans"></a>Detect Orphaned Service Instances</H2>

<%= partial 'tshoot-tech-detect-orphans' %>

## <a id="instance-deployment"></a>Select the BOSH Deployment for a Service Instance

<%= partial 'tshoot-tech-instance-deployment' %>

## <a id="instance-creds"></a>Get Admin Credentials for a Service Instance

<%= partial 'tshoot-tech-instance-creds' %>

## <a id="reinstall"></a>Reinstall a Tile

<%= partial 'tshoot-tech-reinstall' %>

## <a id="view-resources"></a>View Resource Saturation and Scaling

<%= partial 'tshoot-tech-view-resources' %>

## <a id="id-instance-owner"></a>Identify Apps using a Service Instance

<%= partial 'tshoot-tech-id-instance-owner' %>

## <a id="monitor-quota"></a>Monitor Quota Saturation and Service Instance Count

<%= partial 'tshoot-tech-monitor-quota' %>

## <a id="kb"></a>Knowledge Base (Community)

<%= partial 'tshoot-kb' %>

## <a id="support"></a>File a Support Ticket

<%= partial 'tshoot-support' %>
