---
title: Troubleshooting Errors
owner: London Services Enablement
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
    }
</style>

Start here if you're responding to a specific errors or error messages.

## <a id="install-fail"></a>Failed Install

<%= partial 'tshoot-err-install-fail' %>

## <a id="cannot-create-delete"></a>Cannot Create or Delete Service Instances

<%= partial 'tshoot-err-cannot-create-delete' %>

## <a id="timeouts"></a> Broker Request Timeouts

<%= partial 'tshoot-err-timeouts' %>

## <a id="cannot-bind"></a>Cannot Bind to or Unbind from Service Instances

### <a id="instance-not-exist"></a>Instance Does Not Exist

<%= partial 'tshoot-err-instance-not-exist' %>

### <a id="other-errors"></a>Other errors

<%= partial 'tshoot-err-other-errors' %>

## <a id="cannot-connect"></a>Cannot Connect to a Service Instance

<%= partial 'tshoot-err-cannot-connect' %>

## <a id="upgrade-all-fails"></a>Upgrade All Instances Fails

<%= partial 'tshoot-err-upgrade-all-fails' %>

## <a id="missing-logs"></a>Missing Logs and Metrics

<%= partial 'tshoot-err-missing-logs' %>

## <a id="kb"></a>Knowledge Base (Community)

<%= partial 'tshoot-kb' %>

## <a id="support"></a>File a Support Ticket

<%= partial 'tshoot-support' %>
